input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

input.submit {
    transition-duration: 0.4s;
    border: 2px solid #8a0900; 
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 28px;
    background-color: #8a0900; 
    color: white;
}

input.submit:hover{
  background-color: #b90c00; 
  color: white;
  border-color: #b90c00;
}
em {
  color: grey;
}

.button {
  transition-duration: 0.4s;
  border: 2px solid #853900; 
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 28px;
  background-color: #853900; 
  color: white;
}

.button:hover{
background-color: rgb(192, 141, 0); 
color: white;
border-color: rgb(192, 141, 0);
}